.bg-color-1 {
    background-color: rgb(18, 231, 231);
}

.Woodcutter {
    margin-left: 100px;
    margin-top: 50px;
    width: 48px;
    height: 48px;
    background-image: url(resources/Character/Woodcutter/Woodcutter_idle.png);
    transform: scale(2);
}

.WoodcutterBack {
    transform: scale(-2, 2);
    margin-left: 100px;
    margin-top: 50px;
    width: 48px;
    height: 48px;
    background-image: url(resources/Character/Woodcutter/Woodcutter_idle.png);
}

.bg-forest {
    width: 100%;
    height: 100vh;
    background-image: url("resources/Background/Layers/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.tile-contain-top {
    width: 300px;
    height: 32px;
    background-image: url("resources/1 Tiles/Tile_02.png");
    position: absolute;
}

.tile-contain-middle {
    width: 300px;
    height: 224px;
    background-image: url("resources/1 Tiles/Tile_12.png");
    position: absolute;
}